/* SEÇÃO 1 */

/* SLOGAN */

.slogan{
    display: flex;
    padding: 6rem 4rem;
    gap: 2rem;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.slogan__content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    padding: 1rem;
    gap: 2rem;
}

.slogan__content h1{
    font-size: 4.5rem;
    color: var(--color-primary);
    font-weight: normal;
}

.slogan__highlight{
    color: var(--verde-principal);
}

.slogan__content p{
    font-size: 1.25rem;
    color: var(--color-secondary);
    line-height: 2rem;
}

.slogan__buttons{
    display: flex;
    gap: 1rem;
}

.slogan__buttons a{
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: var(--raio-medio);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.slogan__buttons a:first-child{
    background-color: var(--amarelo-destaque);
    color: var(--texto-principal);
}

.slogan__buttons a:first-child:hover{
    transform: translateY(-2px);
    background-color: var(--amarelo-hover);
}

.slogan__buttons a:last-child{
    background-color: var(--fundo-branco);
    color: var(--texto-principal);
    border: 1px solid var(--verde-principal);
}

.slogan__buttons a:last-child:hover{
    transform: translateY(-2px);
    background-color: var(--verde-claro);
}

.slogan__img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.slogan__img img{
    width: 100%;
    max-width: 500px;
}

/* SERVIÇOS */

.servicos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--fundo-secao);
    padding: 6rem 0;
    gap: 2rem;
}


.servicos__container{
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    gap: 2rem;
    width: 80%;
}

.servicos__destaque{ 
    color: var(--verde-principal);
    font-size: 1.25rem;
    text-transform: uppercase;
}

.servicos__content{
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
}

.servicos__titulo{
    font-size: 3rem;
    color: var(--texto-principal);
    line-height: 3rem;
    width: 60%;
}

.servicos__descricao{
    font-size: 1.25rem;
    color: var(--color-secondary);
    line-height: 2rem;
    text-align: justify;
    width: 40%;
}

/* CARDS */

.cards{
    display: grid;
    grid-template-columns: repeat(2, minmax(240px, 1fr));
    place-items: center;
    max-width: var(--largura-maxima);
    gap: 1.5rem;
    padding: 2rem;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 450px;
    height: 300px;
    padding: 2rem;
    background-color: var(--fundo-branco);
    border-radius: var(--raio-pequeno);
    box-shadow: var(--sombra-card);
    transition: all 0.3s ease-in-out;
}

.card:hover{
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

.card__icon{
    display: flex;
    justify-content: space-between;
    color: var(--verde-principal);
    margin-bottom: 1rem;
}

.card__icon .icon{
    width: 30px;
    height: 30px;
    background-color: var(--verde-claro);
    border-radius: var(--raio-pequeno);
    padding: 3px;
}

.card__number{
    font-size: 1rem;
    color: var(--texto-secundario);
    margin-bottom: 0.5rem;
}

.card__titulo{
    font-size: 1.5rem;
    color: var(--texto-principal);
    font-weight: normal;
    margin-bottom: 1rem;
}

.card__descricao{
    font-size: 1rem;
    color: var(--texto-secundario);
    line-height: 1.5rem;
    text-align: justify;
    margin-bottom: 1rem;
}

.card__tags-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
}

.card__tags{
    color: var(--verde-principal);
}